/*********** start global  **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: "Source Sans 3", sans-serif;
}

body::selection {

    color: black;
    background-color: orange;
}

.clear {
    clear: both;
}

ul {

    list-style: none;
}

a {
    text-decoration: none;
}

.container .title {
    padding-block: 50px;
    margin: auto;
    text-align: center;
    color: orange;
    font-size: 30px;
    text-transform: uppercase;
}

/************* star nav bar ************/



.nav {
    background-color: rgba(128, 128, 128, 0.721);
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav .menu {

    float: left;

}

.nav .menu li {

    display: inline-block;
    padding-inline: 10px;
}

.nav .menu li a {
    font-size: 25px;
    color: white;
    transition: color 1s;

}

.nav .menu li a:hover {

    color: orange;
}

.nav .social {

    float: right;
}

.nav .social li {
    display: inline-block;
    padding-inline: 10px;
}

.nav .social li a {

    font-size: 25px;
    color: white;
    transition: color 1s;
}


.nav .social li a:hover {
    color: orange;
}

/**========= end nav bar**********/
/**========= start home section**********/

.container {

    width: 90%;
    margin: auto;

}

#home {
    background: linear-gradient(to right, #0000006f, #0000006f), url(../imgs/top-view-fast-food-mix-mozzarella-sticks-club-sandwich-hamburger-mushroom-pizza-caesar-shrimp-salad-french-fries-ketchup-mayo-cheese-sauces-table_141793-3998.avif) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;

}

#home .container .header {

    max-width: 60%;
    color: white;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#home .container .header h1 span {

    color: orange;
}

#home .container .header p {

    padding-block: 15px;
}

#home .container .header button {

    padding: 20px 25px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid white;
    outline: 2px solid white;
    outline-offset: -10px;
    transition: outline-offset 0.5s, color 1s;
}

#home .container .header button:hover {

    outline-offset: 7px;
    background-color: orange;
    cursor: pointer;
}


/**========= end home section**********/
/**========= start home about**********/



#about .container .frist-side {
    max-width: 30%;
    float: left;
}

#about .container .frist-side img {

    width: 100%;
    display: block;

}

#about .container .second-side {
    float: right;
    max-width: 70%;
    padding-inline: 80px;
    font-size: 25px;
    line-height: 40px;
}

#about .container .second-side h3 {

    color: orange;
    text-transform: capitalize;
}

#about .container .second-side p {
    padding-block: 15px;
    opacity: 0.5;
    font-style: italic;
}

#about .container .second-side button {
    padding: 15px 20px;
    font-size: 20px;
    background-color: white;
    color: orange;
    border: 2px solid orange;
    outline: 2px solid orange;
    outline-offset: -7px;
    transition: color 0.5s, outline-offset 0.5s, background-color 0.5s;
}

#about .container .second-side button:hover {

    outline-offset: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}

#about .container .frist-side .pic {
    position: relative;
    overflow: hidden;
}

#about .container .frist-side .layer {
    background-color: rgba(0, 0, 0, 0.341);
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 1s, top 0.7s;
}

#about .container .frist-side .pic:hover .layer {

    opacity: 1;
    top: 0;
    cursor: pointer;
}

#about .container .frist-side .layer ul {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#about .container .frist-side .layer ul li {

    display: inline-block;
    padding-inline: 10px;
}

#about .container .frist-side .layer ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 1s;
}

#about .container .frist-side .layer ul li a:hover {

    color: orange;

}

#about .container .frist-side .layer ul li i {
    transition: scale 1s;
}

#about .container .frist-side .layer ul li a:hover i {
    scale: 1.5;
}


/**========= end about section**********/
/**========= start popular section**********/

#popular {
    background-color: #dddddd79;
    margin-block: 50px;
}

#popular .menu {

    text-align: center;

}

#popular .menu li {
    margin-bottom: 20px;
    display: inline-block;
    margin-inline: 10px;
    border-bottom: 2px solid black;
    transition: color 0.5s, border-color 0.5s;
    text-transform: capitalize;
}

#popular .menu li:hover {
    cursor: pointer;
    color: orange;
    border-color: orange;
}

#popular .menu .color {

    color: orange;
    border-color: orange;

}

#popular .menu-content {

    margin-block: 30px;
}

#popular .menu-content .item {

    float: left;
    width: 33.333%;
    padding-inline: 20px;
    margin-block: 10px;

}

#popular .menu-content .item:hover .inner {

    scale: 1.1;
    cursor: pointer;
}

#popular .menu-content .item .inner {
    background-color: white;
    padding: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.123);
    transition: scale 0.7s;
    overflow: hidden;
    border-radius: 7px;
}

#popular .menu-content .item .inner img {
    width: 100%;
    border-radius: 10px;
}


#popular .menu-content .item .inner .text {
    text-transform: capitalize;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.537);
}



/**========= end popular section**********/